@media (max-width: 992px) {
  body {
    box-sizing: border-box;
  }
  /* Chỉnh sửa kích thước ảnh nền và banner cho phù hợp với màn hình tablet */
  header {
    height:80vh;
    background-size: 100% 100%;
  }
  #banner {
    left: 40%;
    top: 30%;
  }
  .bg-grey {
    height: auto;
    width: 100%;
  }
  /* Khối Navbar */
  .navbar .nav-3 {
    display: none;
  }
  /* cài đặt chung cho những khối sử dụng grid-layout */
  .grid,
  .certi-content .grid {
    grid-template-columns: repeat(2, 50%);
  } 
  /* Phần thông tin cá nhân, mục tiêu nghề nghiệp */
  .container-1 {
    width: 100%;
    height: auto;
  }
  #target {
    width: 100%;
    height: 100%;

  }
  #target p {
    margin-top: 10px;
    width: 100%;
    padding-right: 30px;
  }
  #personal-info {
    width: 100%;
    height: 100%;
    padding-left: 0px;
  }
  /* Cài đật chung cho 6 khối thông tin nghề nghiệp, sở thích... cho phù hợp với màn hình tablet */
  /* Thay đổi cách cài đặt vị trí cho từng khối bằng order thay vì grid-column, grid-row để vị trí các khối điều chỉnh linh hoạt theo kích thước màn hình */
  .container-info {
    display:grid;
    margin-left: 20px;
    margin-right: 40px;
    grid-template-columns: repeat(2, 50%);
    align-items: stretch;
    height: auto;
    width:auto;
  }
  .container-info .cont-title {
    margin-left: 20px;
  }
  .experience {
    order: 1;
  

  }
  .education {
    order: 3;
   
  }
  .activ {
    order: 6;
    margin-top: 0px;
   
  }
  .skill {
    order: 2;
   
  }
  .hobby {
    order: 4;
    
  }
  .hobby .icon-hobb {
    width: 80%;
  }
  .laguage {
    order: 5;

  }
  /* Khối Chứng chỉ- Giải thưởng */
  /* THay đổi kích thước hình ảnh và nội dung để phù hợp màn hình tablet */
  .certi-content {
    width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: 50% 50%;
    gap: 20px;
    height: auto;
    margin-left: -20px;
  }
  .cont-title {
    margin-left: -20px;
  }
  .certi-1:first-child {
    display:block;
    position: relative;
    height: auto;
    border-right: solid 1px #d6c08d;
    padding-right: 20px;
    margin-top: 40px;
  }
  .certi-1 .content1 {
    width:auto;
    padding-top: 30px;
  }
  .certi-2:nth-child(2) {
    display: block;
    position: relative;
    height: auto;
    padding-left: 20px;
    margin-top: 40px;
  }
  .certi-2 .content2 {
    width: auto;
    padding-top: 30px;
  }
  .certi-3:nth-child(3) {
    display: grid;
    position: relative;
    height: auto;
    grid-column: 1 / span2;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 40%;
    border-top: solid 1px #d6c08d;
    margin-top: -20px;
    padding-top: 40px;

  }
  .certi-3 .content3 {
    width: auto;
    padding-top: 30px;
  }

  .img-fluid {
    width:100%;
  }
  
  .certi-3 .img-fluid{
    width: 48%;
    height: 100%;
  }
  .name-certi {
    text-transform: uppercase;
    font-size: 18px;
  }
  .certi-value {
    text-align: left;
    font-size: 15px;
  }
  .certi-value ul li {
    width: 200%;
    list-style: none;
    margin-left: -30px;
  }
  /* Phần Dự Án */
  /* Thay đổi đơn vị của width, height linh hoạt phù hợp theo kích cỡ màn hình */
  #project {
    width: 100%;
    height: auto;
    margin-left: -30px;
  }
  .project-content {
    width: 100%;
    height: auto;
    margin-left: 20px;
  }
  .name-project {
    height:auto;
  }
  .project-title {
    height: auto;
  }
  .project-images {
    width: 100%;
    height: 100%;
  }
  .project-1 {
    width: 100%;
    height: auto;
  }
  .project-2 {
    width: 100%;
    height: auto;
  }
  .project-3 {
    width: 100%;
    height: auto;
  }
  /* Phần Footer */
  /* Chỉnh sửa lại font-size, width, height cho phù hợp, sử dụng đơn vị % */
  #footer {
    height: auto; 
  }
  .foot {
    font-size: 100%;
    height: 80%;
    width: 80%;
    margin: 0px 70px;
  }
}
